{% extends "header.html" %}
{% block content %}
<p></p>
<div class="row">
    <div class="col">
      <h1>About Kibbles and Bits</h1>
      <h4> Group Members: Madelyn Forrester </h4>
    </div>
    <p></p>
    <p>Description: In the times of quarantine, many families have begun to adopt dogs! This is great news for local animal shelters and many dogs have finally found their home. This website is a website for sharing updates about different breeds of dog and posts from dog owners. Users will be able to login, and post updates to the main page of the website about their dog. These posts are “tweet”-like posts can include images and are limited to 140 characters. User are also be able to comment on existing photos of dogs pulled from https://dog.ceo/dog-api/ . This API allows the user to pull images of specific dog breeds and generate random photos of dogs. Plotly python package us used to collect and share the results of the daily dog poll. The daily dogs poll will allow each user to vote on the “goodest boi”. The results of the poll will be displayed after the user votes. This social media site for dogs is an excellent way for dog owners and lovers to share their favorite pups! </p>
</div>
<p></p>
{% endblock %}>
