{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if poll %}

{# Display card for the dog details #}
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <p></p>
      <h2>Welcome to the Daily Dog Quiz!!</h2>
    </div>
    <div class="">
      <p></p>
      <div class="">
	{% if current_user.is_authenticated %}
	{# Dog Comment submission form #}
	<form method="POST" action="">
	  {{ form.csrf_token }}
	  <div class="">
	    {% for subfield in form.dog_choice %}
	    {% if loop.index == 1 %}
	    <img src="{{ poll.dog1 }}" class="img-fluid img-thumbnail" style="height:200px;margin:1%;" alt="alt text">
            {{ subfield }}
            {{ subfield.label }}
	    {% endif %}
	    {% if loop.index == 2 %}
	    <img src="{{ poll.dog2 }}" class="img-fluid img-thumbnail" style="height:200px;margin:1%;" alt="alt text">
	    {{ subfield }}
	    {{ subfield.label }}
	    {% endif %}
	    {% endfor %}
	    {% if form.dog_choice.errors %}
	    <div class="alert alert-warning" role="alert">
              {% for error in form.dog_choice.errors %}
              <span>{{ error }}</span>
              {% endfor %}
	    </div>
	    {% endif %}
	  </div>
	  <p></p>
	  {{ form.submit() }}
	</form>
	{% else %}
	<div class="">
	  <img src="{{ poll.dog1 }}" class="mr-3" style="height:110px;margin:1%;" alt="alt text">
	  <img src="{{ poll.dog2 }}" class="mr-3" style="height:110px;margin:1%;" alt="alt text">
	</div>
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% if voted %}
<div class="container">
  <div class="card text-center">
    <p></p>
    <h3>Poll Results!</h3>
    <div class="col">
      <iframe style="width: inherit; height: 1000;" srcdoc="{{ plot }}" frameborder="0"></iframe>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}
