{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        <h2>{{ username }}'s Comments and Posts</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Comments <small class="float-right">{{ reviews.count() }} comments</small></h1>
        <ul class="media-list">
            {% for review in reviews %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ review.date }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('dogs.dog_detail', dog_id=review.id_url) }}">
                            {{ review.dog_title }}
                        </a>
                    </strong>
                    <p>
                        {{ review.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<p></p>
<p></p>
<p></p>

<div class="row">
    <div class="col">
        <h1> Posts <small class="float-right">{{ num_post }} Posts</small></h1>
        <ul class="list-group">
          {% for post in posts %}
          <li class="list-group-item">
            <div class="container">
              <span class="float-right">
                <small>{{ post.date }}</small>
              </span>
              <p>
                {{ post.content }}
              </p>
	      {% if post.image %}
	      <div class="card text-center">
		<img class="w-50 text-center" src="data:image/png;base64,{{post.image}}" alt="Unable to properly load image.">
	      </div>
	      {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
